# NSS 内存与性能优化 (NN6000V2 2GB RAM)
CONFIG_IPQ_MEM_PROFILE_1024=y
CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_MEM_PROFILE_ULTRA=y
CONFIG_KERNEL_SKB_RECYCLER=y
CONFIG_KERNEL_SKB_RECYCLER_MULTI_CPU=y

# NSS WiFi Mesh
#CONFIG_NSS_DRV_WIFI_MESH_ENABLE=y
#CONFIG_PACKAGE_MAC80211_MESH=y
#CONFIG_ATH11K_NSS_MESH_SUPPORT=y

# NSS QoS 支持
# CONFIG_PACKAGE_sqm-scripts-nss is not set

# NSS Feed 配置
CONFIG_FEED_nss_packages=n
CONFIG_FEED_sqm_scripts_nss=n
CONFIG_NSS_FIRMWARE_VERSION_11_4=n
CONFIG_NSS_FIRMWARE_VERSION_12_5=y
